/.bundle

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/storage/*
!/storage/.keep

/public/assets
.byebug_history

/config/master.key

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

test/*
log/*
/config/database.yml
/config/storage.yml
/config/credentials.yml.enc
/config/application.yml

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

public/uploads/*
