<%= provide :title, t("edit_newspaper") %>
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <hr class="invisible">
    <h6 class="m-0 font-weight-bold text-primary"><%= t "edit_newspaper" %></h6>
  </div>
  <div class="card-body">
    <%= render "admin/newspapers/form" %>
  </div>
</div>
