<%= provide :title, t("create_season") %>
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <hr class="invisible">
    <h6 class="m-0 font-weight-bold text-primary"><%= t "create_season" %></h6>
  </div>
  <div class="card-body">
    <%= render "admin/seasons/form"%>
  </div>
</div>
