<%= provide :title, t("create_round") %>
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <hr class="invisible">
    <h6 class="m-0 font-weight-bold text-primary"><%= t "create_round" %></h6>
  </div>
  <div class="card-body">
    <%= render "admin/rounds/form"%>
  </div>
</div>
