<%= provide :title, t("edit_league") %>
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <hr class="invisible">
    <h6 class="m-0 font-weight-bold text-primary"><%= t "edit_league" %></h6>
  </div>
  <div class="card-body">
    <%= render "admin/leagues/form" %>
  </div>
</div>
