$green_color1: #152535;
$gray_color1: #828282;
$back_color1: #1c1c1c;
$gray_color2: #d0d5d8;
$red_color1: #ee002d;
$while_color1: #fff;
$black_color1: #000000;
$while_color2: #f7f7f7;
$while_color3: #f3f5f8;
$black_color3: #393939;
$blue_color1: #2c61db;
$while_color4: #eff4f9;
$gray_color3: #a8a8a8;
$black_color4: #02031c;
$black_color5: #44425a;
$black_color6: #656565;
$gray_color4: #a5a5a5;
$color1: #666666;
$gray_color5: #8f8fa1;
$blue_color2: #827ffe;
$color2: #403866;
$color3: #e6e6e6;
$gray_color6: #999999;
$red_color2: #c80000;
$black_color7: #000;
$black_color2: #01031c;
$green_color: #11940f;
$while_color5: #e4e6e8;
