<footer class="footer-area">
  <div class="bottom-footer-area">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <p><%= t "footer_text" %></p>
        </div>
      </div>
    </div>
  </div>
</footer>
